.list {
    &__news {
        & textarea,input {
            background-color: ghostwhite;
            cursor: pointer;
        }
        &-title {
            min-width: 300px;
        }
        &-image {
            &-url {
                width: 100%;
            }
        }
        &-short {
            min-width: 300px;
        }
        &-full {
            min-width: 400px;
        }
    }
}