.list {
    &__add-button {
        position: absolute;
        top: 4px;
        right: 5px;
    }
    & td {
        position: relative;
        & >* {
            width: 100%;
        }
    }
    & .m-button {
        position: absolute;
        top: 13px;
        width: 16px;
        height: 15px;
        right: 13px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        background-color: white;
        &:hover {
            opacity: 0.7;
        }
        &-editable {
            background-image: url(../img/icon/icon-settings.png);
        }
        &-saveable {
            background-image: url(../img/icon/icon-confirm.png);
        }
    }
    & input, textarea {
        background-color: ghostwhite;
    }
    &__news {

        &-title {
        }
        &-image {
            &-url {
                width: 100%;
            }
        }
        &-short {
        }
        &-full {
        }
    }
}
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}