<section class="content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="news">
            //= news-tab.html
        </div>
        <div role="tabpanel" class="tab-pane fade" id="vacancy">
            //= vacancy-tab.html
        </div>
        <div role="tabpanel" class="tab-pane fade" id="replies">
            //= replies-tab.html
        </div>
        <div role="tabpanel" class="tab-pane fade" id="feedbacks">
            //= feedbacks-tab.html
        </div>
    </div>
</section>