<section class="content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="news">
            //= news-tab.html
        </div>
        <div role="tabpanel" class="tab-pane fade" id="vacancy">
            //= vacancy-tab.html
        </div>
        <div role="tabpanel" class="tab-pane fade" id="replies">
            //= replies-tab.html
        </div>
        <div role="tabpanel" class="tab-pane fade" id="feedback"><div class="alert alert-danger" role="alert">You are not prepared</div></div>
    </div>
</section>