<section class="content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="news">
            
        </div>
        <div role="tabpanel" class="tab-pane fade" id="vacancies"><div class="alert alert-danger" role="alert">You are not prepared</div></div>
        <div role="tabpanel" class="tab-pane fade" id="feedbacks"><div class="alert alert-danger" role="alert">You are not prepared</div></div>
        <div role="tabpanel" class="tab-pane fade" id="users"><div class="alert alert-danger" role="alert">You are not prepared</div></div>
        <div role="tabpanel" class="tab-pane fade" id="bonuses"><div class="alert alert-danger" role="alert">You are not prepared</div></div>
    </div>
</section>