<div class="table-responsive">
    <table class="table table-hover list"
           data-append-to="feedbacks"
           data-delete-url="/feedbacks/:key"
           data-delete-key="id"
           data-update-url="/feedbacks/:key"
           data-update-key="id">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>EMAIL</th>
                <th>Phone</th>
                <th>Text</th>
                <th>Status</th>
                <th>Reply</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>