<!DOCTYPE html>
<html>
    <head lang = 'ru'>
        <meta charset="UTF-8"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RCG Admin</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <section class="header">
                <ul class="nav nav-tabs" data-bind-click="switchTabs" role="tablist">
                    <li role="presentation" class="active"><a href="#news" data-bind-click="requestTableData" data-append-from="news" data-request-url="/news" data-request-template-id="newsRow" aria-controls="home" role="tab" data-toggle="tab">Новости</a></li>
                    <li role="presentation"><a href="#vacancies" aria-controls="profile" role="tab" data-toggle="tab">Вакансии</a></li>
                    <li role="presentation"><a href="#feedbacks" aria-controls="messages" role="tab" data-toggle="tab">Обратная связь</a></li>
                    <li role="presentation"><a href="#users" aria-controls="messages" role="tab" data-toggle="tab">Пользователи</a></li>
                    <li role="presentation"><a href="#bonuses" aria-controls="messages" role="tab" data-toggle="tab">Бонусы</a></li>
                </ul>
        </section>