<!DOCTYPE html>
<html>
    <head lang = 'ru'>
        <meta charset="UTF-8"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RCG Admin</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <section class="header">
                <ul class="nav nav-tabs" data-bind-click="switchTabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#news"
                           data-bind-click="requestTableData"
                           data-append-from="news"
                           data-request-url="/news"
                           data-request-template-id="newsRow"
                           aria-controls="news"
                           role="tab"
                           data-toggle="tab">Новости</a>
                    </li>
                    <li role="presentation">
                        <a href="#vacancy"
                           aria-controls="vacancy"
                           role="tab"
                           data-bind-click="requestTableData"
                           data-append-from="vacancy"
                           data-request-url="/vacancy"
                           data-request-template-id="vacancyRow"
                           data-toggle="tab">Вакансии</a></li>
                    <li role="presentation" style="display: none;">
                        <a href="#replies"
                               aria-controls="replies"
                               role="tab"
                               data-bind-click="requestTableData"
                               data-append-from="replies"
                               data-request-url="/vacancy/:newsId/replies/"
                               data-default-url="/replies/"
                               data-request-template-id="replyRow"
                               data-toggle="tab">Отклики</a>
                    </li>
                    <li role="presentation">
                        <a href="#feedback"
                           aria-controls="feedback"
                           role="tab"
                           data-bind-click="requestTableData"
                           data-toggle="tab">Обратная связь</a>
                    </li>
                </ul>
        </section>