<div class="table-responsive">
    <div class="list__clear-button"><button data-bind-click="clearAllFilters" type="button" class="btn btn-primary">Сбросить фильтры</button></div>
    <table class="table table-hover list"
           data-append-to="replies"
           data-update-url="/vacancy/:key"
           data-update-key="id"
           data-delete-url="/vacancy/:key"
           data-delete-key="id"
           data-add-url="/vacancy">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Vacancy</th>
                <th>Vacancy Name</th>
                <th>Reply</th>
                <th>Status</th>
                <th>Admin Comment</th>
                <th>Published</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>