<script id="newsRow" type="text/x-jquery-tmpl">
    <tr data-parsed=${data}>
        <td>${id}</td>
        <td>
            <textarea readonly data-field="title"  class='list__news-title' rows='2' type="text" placeholder="No Title">${title}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input readonly  data-target-selector='.news-picture-${id}' data-field="picture" data-bind-change='refreshImage' type="text" class='list__news-image-url' placeholder="No Picture Url" value="${picture}"/>
            <a class="thumbnail">
              <img class='news-picture-${id}' src="${picture}" class="div-circle" alt="No Picture">
            </a>
            <input type="file" class="btn btn-default" data-bind-change='uploadImage' value="Загрузить"/>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <textarea readonly data-field="shortText"  rows="7" class='list__news-short' placeholder="No ShortText">${shortText}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>

        </td>
        <td>
            <textarea readonly data-field="text"  rows="10"  class='list__news-full' placeholder="No Full Text">${text}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>${datePublished}</td>
        <td><a href="#" data-bind-click='deleteNews'><button type="button" class="btn btn-info" >Удалить</button></a></td>
    </tr>
</script>