<script id="newsRow" type="text/x-jquery-tmpl">
    <tr data-news-id="${id}">
        <td>${id}</td>
        <td>
            <textarea readonly  class='list__news-title' rows='2' type="text" placeholder="No Title">"${title}"</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input readonly data-bind-change="refreshImage" data-target-selector='.news-picture-${id}' type="text" class='list__news-image-url' placeholder="No Picture Url" value="${picture}"/>
            <a class="thumbnail">
              <img class='news-picture-${id}' src="${picture}" class="div-circle" alt="No Picture">
            </a>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <textarea readonly  rows="7" class='list__news-short' placeholder="No ShortText">${shortText}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>

        </td>
        <td>
            <textarea readonly  rows="10"  class='list__news-full' placeholder="No Full Text">${text}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>${datePublished}</td>
        <td><a href="#" data-bind-click='deleteNews' data-toggle="confirmation" data-placement="left" data-btnOkLabel='Да' data-btnCancelLabel='Нет' data-title="Вы уверены?"><button type="button" class="btn btn-info" >Удалить</button></a></td>
    </tr>
</script>