<script id="newsRow" type="text/x-jquery-tmpl">
    <tr data-parsed="${data}">
        <td>${id}</td>
        <td>
            <textarea readonly disabled data-field="title" rows='2' type="text" placeholder="No Title">${title}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input data-field="sendAlert" readonly disabled type='checkbox' data-precompile="getCheckedBit"/>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input readonly disabled  data-target-selector='.news-picture-${id}' data-field="picture" data-bind-change='refreshImage' type="text" placeholder="No Picture Url" value="${picture}"/>
            <a class="thumbnail">
              <img class='news-picture-${id}' src="${picture}" class="div-circle" alt="No Picture">
            </a>
            <input type="file" class="btn btn-default" data-url-selector='.news-picture-${id}'  data-bind-change='uploadImage' value="Загрузить"/>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <textarea readonly disabled data-field="shortText"  rows="7"  placeholder="No ShortText">${shortText}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <textarea readonly disabled data-field="text"  rows="10"   placeholder="No Full Text">${text}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td data-format='date'>${datePublished}</td>
        <td><a href="#" data-bind-click='deleteRow'><button type="button" class="btn btn-danger" >Удалить</button></a></td>
    </tr>
</script>
<script id="vacancyRow" type="text/x-jquery-tmpl">
    <tr data-parsed="${data}">
        <td>${id}</td>
        <td>
            <textarea readonly disabled data-field="title"  rows='2' type="text" placeholder="No Title">${title}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input data-field="sendAlert" readonly disabled type='checkbox' data-precompile="getCheckedBit"/>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input readonly disabled  data-target-selector='.vacancy-picture-${id}' data-field="picture" data-bind-change='refreshImage' type="text" placeholder="No Picture Url" value="${picture}"/>
            <a class="thumbnail">
              <img class='vacancy-picture-${id}' src="${picture}" class="div-circle" alt="No Picture">
            </a>
            <input type="file" class="btn btn-default" data-url-selector='.vacancy-picture-${id}'  data-bind-change='uploadImage' value="Загрузить"/>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input readonly disabled  data-target-selector='.vacancy-preview-picture-${id}' data-field="previewPicture" data-bind-change='refreshImage' type="text" placeholder="No Picture Url" value="${previewPicture}"/>
            <a class="thumbnail">
              <img class='vacancy-preview-picture-${id}' src="${previewPicture}" class="div-circle" alt="No Picture">
            </a>
            <input type="file" class="btn btn-default" data-url-selector='.vacancy-preview-picture-${id}'  data-bind-change='uploadImage' value="Загрузить"/>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <textarea readonly disabled data-field="shortText"  rows="7"  placeholder="No ShortText">${shortText}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <textarea readonly disabled data-field="text"  rows="10"   placeholder="No Full Text">${text}</textarea>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input readonly disabled data-field="money" placeholder="No Money" value='${Vacancy_money}'/>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input readonly disabled data-field="workTime" placeholder="No WorkTime" value='${Vacancy_workTime}'/>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input readonly disabled data-field="city" placeholder="No City" value='${Vacancy_city}'/>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td style='min-width:150px;'>
            <input readonly disabled data-format='radio' data-field="isMale" placeholder="No Sex" data-precompile='getCheckedRadio' value='${Vacancy_isMale}'/>
            <input readonly disabled class='list__radio' type="radio" name="sex${id}" value="0">Male<br>
            <input readonly disabled class='list__radio' type="radio" name="sex${id}" value="1">Female<br>
            <input readonly disabled class='list__radio' type="radio" name="sex${id}" value="2">Both
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <input data-format='date' readonly disabled data-precompile='toISOString' data-field="endTime" placeholder="No EndTime" value='${Vacancy_endTime}'/>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td data-format='date'>${datePublished}</td>
        <td>
            <a href="#" data-bind-click='deleteRow'><button type="button" class="btn btn-danger" >Удалить</button></a>
            <a href="/#replies$$$newsId=${id}" data-bind-click='showVacancyReplies'><button type="button" class="btn btn-warning" >Отклики</button></a>
        </td>
    </tr>
</script>
<script id="replyRow" type="text/x-jquery-tmpl">
    <tr data-parsed="${data}">
        <td>${id}</td>
        <td>${newsId}</td>
        <td>${News_title}</td>
        <td data-format='jsonTable'>${text}</td>
        <td>
            <input data-format='select' data-precompile='getSelectedValue' readonly data-field="commentStatus" placeholder="Set the status" value='${commentStatus}'/>
            <select disabled readonly class="form-control" style='width:85%;'>
                <option data-default-value='true'>Новая</option>
                <option>В ожидании</option>
                <option>Просмотрена</option>
                <option>Принята</option>
                <option>Отклонена</option>
                <option>Требует согласования</option>
            </select>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <textarea data-precompile='appendFromTo' readonly disabled data-field="adminComment"  rows='2' type="text" placeholder="Add Comment"></textarea>
            <pre data-appendFromTo='true'>${adminComment}</pre>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td data-format='date'>${timestamp}</td>
        <td>
            <a href="#" data-bind-click='deleteRow'><button type="button" class="btn btn-danger" >Удалить</button></a>
        </td>
    </tr>
</script>
<script id="feedbackRow" type="text/x-jquery-tmpl">
    <tr data-parsed="${data}">
        <td>${id}</td>
        <td>${name}</td>
        <td>${email}</td>
        <td>${phone}</td>
        <td>${text}</td>
        <td>
            <input data-format='select' data-precompile='getSelectedValue' readonly data-field="status" placeholder="Set the status" value='${status}'/>
            <select disabled readonly class="form-control" style='width:85%;'>
                <option data-default-value='true'>Новая</option>
                <option>В ожидании</option>
                <option>Просмотрена</option>
                <option>Принята</option>
                <option>Отклонена</option>
                <option>Требует согласования</option>
            </select>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <textarea data-precompile='appendFromTo' readonly disabled data-field="replyComment"  rows='2' type="text" placeholder="Add Comment"></textarea>
            <pre data-appendFromTo='true'>${replyComment}</pre>
            <div class='m-button m-button-editable' data-bind-click='editField'></div>
        </td>
        <td>
            <a href="#" data-bind-click='deleteRow'><button type="button" class="btn btn-danger" >Удалить</button></a>
        </td>
    </tr>
</script>
