.footer,.header {
  width: 80%;
  position: absolute;
  left: 10%;
}
.footer {
  bottom: 10px;
}
.header {
  top: 10px;
}
.absolute-relative-center{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}